{% set tickets = __SELF__.tickets %}
{% if tickets %}
	<ul>
    {% for ticket in tickets %}
        <li>{{ ticket.name }}</li>
    {% endfor %}
	</ul>
{% endif %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Register</h3>
    </div>
    <div class="panel-body">
<!--	<form id="addPersonForm" data-request="{{__SELF__}}::onRegisterPersons" data-request-update="'{{__SELF__}}::list': '#result'">-->
	<form id="addPersonForm">
	    <div class="form-group">
	        <input type="hidden" name="form_request" value="{{__SELF__}}::onRegisterPersons" />
	        <input type="hidden" name="form_update" value="{{__SELF__}}::list" />
	        <input type="hidden" name="event_id" value="{{ __SELF__.event_id }}" />
	        <input type="hidden" name="user_id" value="2" />
	    </div>
		<fieldset class="person_info">
			<legend>Person <span class="num">1</span> <a class="editperson" href="javascript:void(0)">编辑</a><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></legend>
	        <div class="form-group">
	            <input type="text" class="form-control" value="" name="first_name[]" placeholder="First Name" />
	        </div>
	        <div class="form-group">
	            <input type="text" class="form-control" value="" name="last_name[]" placeholder="Last Name" />
	        </div>
	        <div class="form-group">
	            <input type="text" class="form-control" value="" name="company[]" placeholder="Company" />
	        </div>
	        <div class="form-group">
	            <input type="text" class="form-control" value="" name="title[]" placeholder="Title" />
	        </div>
	        <div class="form-group">
	            <input type="text" class="form-control" value="" name="mobile[]" placeholder="Mobile" />
	        </div>
	        <div class="form-group">
	            <input type="text" class="form-control" value="" name="email[]" placeholder="Email" />
	        </div>
	        <div class="form-group">
	        {% if tickets %}
				<ul>
			    {% for ticket in tickets %}
			        <li><input type="checkbox" name="tickets[0][]" value="{{ ticket.id }}" />{{ ticket.name }}</li>
			    {% endfor %}
				</ul>
			{% endif %}
	        </div>
		</fieldset>
        <a class="btn btn-default addperson" href="javascript:void(0)">New</a>
	</form>


		<fieldset class="person_info_demo hide">
			<legend>Person <span class="num">1</span> <a class="editperson" href="javascript:void(0)">编辑</a><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></legend>
	        <div class="form-group">
	            <input type="text" class="form-control" value="" name="first_name[]" placeholder="First Name" />
	        </div>
	        <div class="form-group">
	            <input type="text" class="form-control" value="" name="last_name[]" placeholder="Last Name" />
	        </div>
	        <div class="form-group">
	            <input type="text" class="form-control" value="" name="company[]" placeholder="Company" />
	        </div>
	        <div class="form-group">
	            <input type="text" class="form-control" value="" name="title[]" placeholder="Title" />
	        </div>
	        <div class="form-group">
	            <input type="text" class="form-control" value="" name="mobile[]" placeholder="Mobile" />
	        </div>
	        <div class="form-group">
	            <input type="text" class="form-control" value="" name="email[]" placeholder="Email" />
	        </div>
	        <div class="form-group">
	        {% if tickets %}
				<ul>
			    {% for ticket in tickets %}
			        <li><input type="checkbox" name="tickets" value="{{ ticket.id }}" />{{ ticket.name }}</li>
			    {% endfor %}
				</ul>
			{% endif %}
	        </div>
		</fieldset>

    <div class="form-group">
        <button class="btn btn-default submit"  type="submit">Register</button>
        <a class="btn btn-default addperson" href="javascript:void(0)">New</a>
    </div>
	        
	<div id="result"></div>
	</div>
</div>